
.sidebar {
  position: relative;
  display: grid;
  overflow: hidden;

  grid-template-columns: 0px 0px 0px;
  grid-template-rows: 1fr;
  min-width: 160px;

  box-shadow: 0 3px 6px rgb(0 0 0 / 0.16), 0 3px 6px rgb(0 0 0 / 0.23);
}

.sidebar__section {
  grid-column: auto / span 1;
  grid-row: 1 / span 1;
  background: rgb(255 255 255);
  
}

.sidebar__section + .sidebar__section {
  border-left: 2px solid rgb(242 242 242);
  overflow: auto;
}

.sidebar[data-level="1"] {
  grid-template-columns: 160px 0px 0px;
}

.sidebar[data-level="2"] {
  grid-template-columns: 160px 350px 0px;
}

.sidebar[data-level="3"] {
  grid-template-columns: 160px 350px 350px;
}

.sidebar__wrapper {
  overflow: auto;
  height: 100vh;

  font-family: "Lato";
}

.mm-sections {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

.mm-sections__section {
  margin: 10px;
}

.mm-sections__section-link {
  text-align: center;
  display: block;
  font-family: "Lato";
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.mm-sections__section-link:hover {}
.mm-sections__section-link:active {}
.mm-sections__section-link:focus {}

.mm-sections__icon {
  width: 64px;
  height: 64px;
  border: 4px double;
  color: #ccc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  
}

.mm-sections__title {

}

img {
  width: 40px;
}

.mm-items {
  list-style: none;
  padding: 0;
  margin: 0 20px;
}

.mm-item {
  margin-bottom: 30px;
}

.mm-sidebar__header {
  height: 240px;
  background-size: cover;
  position: relative;
}

.mm-sidebar__title {
  font-size: 24px;
  line-height: 20px;
  font-weight: 600;
  position: absolute;
  bottom: 60px;
  left: 40px;
  color: #fff;
  font-family: "Lato";
}

.mm-detail__text {
  margin: 20px;
}

.sidebar[data-level='3'] .sidebar__section--level-1 .mm-sidebar__header {
  display: none;
}
.sidebar[data-level='3'] .mm-sections {
  flex-direction: column;
}

.mm-sections__icon {
  margin: 10px auto;
}

.sidebar__close_btn {
  display: block;
  box-sizing: content-box;

  position: relative;
  top: 16px;

  width: 24px;
  height: 24px;
  padding: 8px 0;
  
  border: 0 none;
  border-radius: 0 4px 4px 0;

  color: rgb(38 38 38);
  background: rgb(255  255  255 / .85);
  box-shadow: 0 1px 3px 0 rgb(38  38  38 / 0.5);

  text-align: center;
  cursor: pointer;

  transform: translateX(-120%);
  transition: transform 300ms linear;
}

.sidebar[data-level="2"] ~ .sidebar__close_btn,
.sidebar[data-level="3"] ~ .sidebar__close_btn {
  transform: translateX(0%);
}

.sidebar__close_btn svg {
  transform: rotate(90deg);
  fill: currentColor;
  cursor: inherit;
}

.mm-items-section:not(.visible) {
  display: none;
}

.mm-items-section:not(.visible) .mm-item:not(.visible) {
  display: none;
}